.screen-title{
    position: relative;
    text-align: center;
}
.go-back{
    position: absolute;
    top: -.5rem;
    left: 15%;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.title-page{
    font-family: var(--roboto-font);
    font-weight: 400;
    font-size: 3.6rem;
    color: #081F32;
}
.text-back{
    text-transform: uppercase;
    color: black;
    font-family:  var(--karla-font);
    font-size: 1.8rem;
    font-weight: 700;
}
.arrow{
    display: inline-block;
    width: 1.6rem;
    height: 1.6rem;
}