.card-item {
    position: relative;
    width: 24rem;
    height: 12.8rem;
    border: 1px solid rgba(0, 0, 0, 0.2);
    border-radius: 5px;
    text-align: center;
    box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.14), 0px 3px 4px rgba(0, 0, 0, 0.12), 0px 1px 5px rgba(0, 0, 0, 0.2);
}

.character{
    height: 24rem;
    text-align: left;
}
.episode, .location{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.card-item:hover{
    border: 1px solid rgba(0, 0, 0, 0.75);
    box-shadow: none;
}
.card-img {
    max-width: 24rem;
    max-height: 16.8rem;
    overflow: hidden;
    
}
.card-img > img{
    display: block;
    margin-left: -2.5rem;
    margin-top: -4.5rem;
}
.link-card{
    text-decoration: none;
    color: black;
}
.info-name{
    max-height: 3.5rem;
    font-family: var(--roboto-font);
    font-size: 1.7rem;
    font-weight: 500;
    margin: 1.5rem 1rem 1rem 1.6rem;
}
.info-name .character{
    max-height: 2.6rem;
    overflow: hidden;
    margin: 1.2rem 1rem .1rem 1.6rem;
}

.species-name, .info-date{
    font-family: var(--roboto-font);
    font-size: 1.4rem;
    font-weight: 400;
    margin: 0.5rem 0  1.2rem 1.6rem;
    color: rgba(0, 0, 0, 0.6);
}
.species-name{
    font-weight: 700;
}
.info-date.character{
    display: none;
}
