.show-property{
    position: relative;
    width: 24rem;
    height: 12.8rem;
    border: 1px solid rgba(0, 0, 0, 0.2);
    border-radius: 5px;
    background-color: white;
    box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.14), 0px 3px 4px rgba(0, 0, 0, 0.12), 0px 1px 5px rgba(0, 0, 0, 0.2);
    visibility: visible;
}
.close-btn{
    position: absolute;
    top: .4rem;
    right: .4rem;
    z-index: 2;
    width: 1.6rem;
    height: 1.6rem;
    padding: .5rem;
    font-family: var(--roboto-font);
    font-size: 1.6rem;
    font-weight: 700;
    color:black;
    border: 1px solid rgba(0, 0, 0, 0.2);
    border-radius: 5px;
    box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.14), 0px 3px 4px rgba(0, 0, 0, 0.12), 0px 1px 5px rgba(0, 0, 0, 0.2);
}

.close-btn:hover{
    border: 1px solid rgba(0, 0, 0, 0.75);
    box-shadow: none;
}
.details-position{
    margin-top: 2.5rem;
}
.details-card{
    position: absolute;
    top: 65%;
    right: 12%;

}