
.search-container{
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}
.search-item{
    width: 57rem;
    position: relative;
}
.input-image{ 
    position: absolute;
    display:inline-block;
    left: 1.5rem;       
    top: .75rem;
    width: 2.4rem;
    height: 2.4rem;
    z-index: 2;

}
.input-field{ 
    width: 50rem;
    border: .15rem solid rgba(0, 0, 0, 0.5);
    border-radius: .5rem;
    padding: 1rem 2rem 1rem 5rem;
    font-family: var(--roboto-font);
    color: rgba(0, 0, 0, 0.5);
    font-size: 1.6rem;
    font-weight: 400;
}