.header{
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-bottom: 1px solid rgba(0, 0, 0, .1);
}
.div-logo-img{
    width: 40%;
    text-align: center;
}
.nav-container{
    width: 40%;
    display: flex;
    justify-content: center;
    align-items: center;
    padding-left: 8rem;
   
    color: black;
}
.nav-item{
    width: 20%;
    padding-left: 2rem;
}
.nav-item:hover{
    color: orange;
    cursor: pointer;
}
.logo-img{
    display: inline-block;
    width: 4.6rem;
    height: 4.9rem;
    margin: 1rem 0;     
}
.link-navigation{
    text-decoration: none;
    color: black;
    font-family:  var(--karla-font);
    font-size: 1.8rem;
    font-weight: 700;
}
