@import url('https://fonts.googleapis.com/css2?family=Karla:wght@700&family=Roboto:wght@400;500;700&display=swap');

html{
    margin:0;
    box-sizing: border-box;
    font-size: 10px;
    --karla-font: 'Karla', sans-serif;
    --roboto-font: 'Roboto', sans-serif ;
    
}
.container{
    width: 100%;
    height: 98vh;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;

}
.top-container{
    width: 100%;
}
.footer{
    width: 100%;
    height: 2vh;
}
.div-img-rick{
    width: 100%;
    text-align: center;
    margin: 2rem 0;
}
.img-rick{
    display: inline-block;
    width: 27rem;
    height: 21rem;
}