
.container-details{
    height: 60vh;
    text-align: center;
    box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.14), 0px 3px 4px rgba(0, 0, 0, 0.12), 0px 1px 5px rgba(0, 0, 0, 0.2);
    margin: 5rem;
}
.details{  
    width: 100%;  
    display: flex;
    justify-content:space-evenly;
    align-items:center;
    margin-top: 7rem;
}
.det-info{
    display: flex;
    flex-direction: column; 
    justify-content: flex-start;
    align-items:stretch;
    margin-top: 7rem;
}
.det-image{
    width: 40rem; 
    padding-top: 8vh;
}
.det-image > img{
    width: 100%; 
}
.details-item{   
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 5rem;
    font-family: var(--roboto-font);
    font-size: 1.4rem;
    font-weight: 400;
}
.l-item{
    width: 5rem; 
    text-align: right;
}
.p-item{
    width: 12rem; 
    font-family: var(--roboto-font);
    font-size: 1.7rem;
    font-weight: 500;
    text-align: left;
}
.btn-episode, .btn-place{
    text-align: center;
    padding: .5rem;
    border-radius: 5px;
    border: 1px solid rgba(0, 0, 0, 0.2);
    box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.14), 0px 3px 4px rgba(0, 0, 0, 0.12), 0px 1px 5px rgba(0, 0, 0, 0.2);
}
.btn-episode{
    border: 1px solid rgba(0, 0, 0, 0.12);
}
.btn-episode:hover, .btn-place:hover{
    border: 1px solid rgba(0, 0, 0, 0.7);
    cursor: pointer;
}


